<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>edit</title>
  <link rel="stylesheet" href="/main.css">
</head>

<body class="gray-bg">
  <%- include('nav.ejs') %>
  <form action="/post/edit?_method=PUT" method="POST" class="form-box">
    <h4>수정하기</h4>
    <input type="hidden" name="id" value="<%= result._id %>">
    <input name="title" value="<%= result.title %>">
    <input name="content" value="<%= result.content %>">
    <button type="submit">수정</button>
  </form>
</body>

</html>