<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
  <title>Login</title>
</head>
<body>
  <%- include('nav.ejs') %>
  <form class="form-box" action="/login" method="POST">
    <h4>로그인</h4>
    <input name="username">
    <input name="password" type="password">
    <button type="submit">전송</button>
</form>
<button id="register">회원가입</button> 

<script>
  const register = document.getElementById('register');
  register.addEventListener('click', () => {
    location.href = '/register';
  })

</script>
</body>
</html>