<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="nav.css">
  <title>nav</title>
</head>
<body>
  <div class="nav">
    <a class="logo">Appleforum</a>
    <a>page1</a>
    <a>page2</a>
  </div>
</body>
</html>