<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <title>nav</title>
</head>
<body>
  <div class="nav">
    <a class="logo" href="/">Appleforum</a>
    <a href="/post/write">글작성</a>
    <a href="/login">로그인</a>
  </div>
</body>
</html>